<% hide_style = @initial_panel != panel && {:style => 'display: none'} -%>
<% div_for(panel, hide_style) do -%>
  <h1><%= panel.name %></h1>
  <iframe width="<%= @page_width %>px" height="100%" src="<%= panel.url %>&width=<%= @page_width %>px">
  </iframe>
<% end -%>
