<% javascript_tag do -%>
  page_width = document.width;
  if (page_width != <%= @page_width %>) {
    document.location.href = "?page_width=" + page_width;
  }
<% end -%>

<div class="dashboard">
  <%= render :partial => 'panel_group', :collection => @panel_groups %>
</div>

<%= periodically_call_remote(:url => refresh_path,
                             :with => 'currentPanelsParams().toQueryString()',
                             :frequency => 30) %>

